$primary-color: #6b59d3; 
$secondary-color: #ffffff; 
$card-padding: 24px; 
$card-margin-bottom: 30px;
$card-border-radius: 16px; 
$card-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
$image-container-width: 40%; 
$icon-size: 24px; 
$icon-hover-scale: 1.2; 

.card {
  padding: $card-padding;
  margin-bottom: $card-margin-bottom;
  display: flex;
  width: 100%;
  align-items: flex-start;
  height: 300px;
  border: 2px solid $secondary-color;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  background-color: $primary-color;
  position: relative;

  .imageContainer {
    position: relative;
    height: 100%;
    width: $image-container-width;
    overflow: hidden;
    border-radius: $card-border-radius - 2px;
    background-color: $secondary-color;
    margin-right: $card-padding;

    img {
      height: 100%;
      z-index: 1;
      object-fit: cover;
    }

    .cardIcon {
      position: absolute;
      top: 12px;
      right: 12px;
      width: $icon-size;
      height: $icon-size;
      fill: #000;
      z-index: 2;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale($icon-hover-scale);
      }
    }
  }

  h2 {
    padding-bottom: 20px;
    align-self: flex-start;
    color: $secondary-color;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    flex: 3;

    .cardDescriptionContainer {
      display: flex;
      align-items: flex-start;
      height: 100%;

      .cardDescription {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        p {
          padding-bottom: 15px;
          text-align: left;
          font-size: 18px;
          color: $secondary-color;
        }
      }
    }
  }

  .cardArticle {
    align-self: flex-end;
    height: 100%;
    padding-right: $card-padding;
    color: $secondary-color;
  }

  .cardButtonContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    flex: 2;
    padding-right: $card-padding;

    .cardButton {
      align-self: flex-end;
    }
  }
}
