$modal-color: #333333;
$modal-bg-color: #ffffff;
$modal-padding: 20px; 
$modal-border-radius: 8px; 
$modal-max-width: 90%;
$modal-max-height: 90%; 
$modal-min-width: 560px; 
$modal-min-height: 400px;
$modal-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 

.modal {
  color: $modal-color; 
  background-color: $modal-bg-color; 
  padding: $modal-padding; 
  border-radius: $modal-border-radius; 
  max-width: $modal-max-width; 
  max-height: $modal-max-height; 
  min-width: $modal-min-width; 
  min-height: $modal-min-height; 
  overflow-y: auto; 
  position: relative; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  box-shadow: $modal-box-shadow; 
}
