h1{
  background-color: #1c0941;
  color: #fff;
  margin-top: 0;
  padding: 10px;
}
.cart-page {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #1c0941;
  color: #fff;
}

.cart-items {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  width: 65%;
}

.cart-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  border-radius: 15px;
  overflow: hidden;
  height: 450px;
  width: 100%;
  position: relative;
  border: 2px solid #130634;
  background-color: #f2f2f2;
  color: #333;
  padding-bottom: 20px; // Увеличен отступ снизу
}

.item-image-container {
  width: 40%;
  height: auto;
  overflow: hidden;
  margin-right: 30px;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-details {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;

  & p {
    font-size: 22px;
  }
}

.product-name {
  min-height: 100px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 40px;
}

.product-storage {
  min-height: 100px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 40px;
}

.product-price {
  min-height: 100px;
  font-size: 16px;
  margin-bottom: 15px;
  align-self: flex-start;
  justify-self: flex-start;
  padding-left: 40px;
}

.item-counters {
  min-height: 130px;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.counter-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50px; // Уменьшена ширина кнопки
  height: 50px; // Уменьшена высота кнопки
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center; // Кнопка по центру
}

.disabled {
  background-color: #999;
  color: #333;
  border: 1px solid #130634;
}

.counter {
  font-size: 36px;
  margin: 0 20px;
}

.remove-button {
  position: absolute;
  width: 50px; // Уменьшена ширина кнопки
  height: 50px; // Уменьшена высота кнопки
  top: 10px;
  right: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; // Кнопка по центру
}

.total-price-block {
  width: 30%;
  margin-left: 20px;
  background-color: #1c0941; // Изменен цвет фона на более темный
  border-radius: 15px;
  padding: 5px;// Увеличен отступ внутри блока
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #f4a2d4;
  position: sticky;
  top: 30px;
  z-index: 1;
  height: 450px;
  overflow-y: auto;
.total-price-block {
  width: 30%;
  background-color: #1c0941;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #130634;
  position: sticky;
  top: 30px;
  z-index: 1;
  height: auto; // Удалили фиксированную высоту
  overflow-y: auto;

  & span {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #fff;
  }
}

.total-price-block .total-value {
  border: 5px solid #f4a2d4;
  border-radius: 30px;
  padding: 20px 40px;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
}
  & span {
    font-size: 26px;
    font-weight: bold; // Добавлен жирный шрифт для лейблов
    margin-bottom: 25px; // Увеличен отступ снизу
    color: #fff; // Изменен цвет текста на белый
  }
}

.total-price-block .total-value {
  border: 5px solid #f4a2d4;
  border-radius: 30px;
  padding: 10px 20px; // Увеличен отступ внутри блока с суммой
  font-size: 36px; // Увеличен размер шрифта для суммы
  font-weight: bold; // Добавлен жирный шрифт для суммы
  color: #fff; // Изменен цвет текста на белый
  margin-top: 30px; // Увеличен отступ сверху
}

.buy-now-button {
  background-color: #f4a2d4;
  color: #130634;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  margin-top: 30px; // Увеличен отступ сверху кнопки

  &:hover {
    background-color: #d86ebd;
    color: #fff;
  }
}

.emptyCart {
  & h2 {
    margin-top: 80px;
    padding: 30px;
    font-size: 32px;
  }
}