.cardsContainer {
    width: 100%;
    height: auto;
    background-color: #1c0941;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; // Выравнивание по центру по горизонтали
    padding: 40px 0; // Добавлен отступ сверху и снизу
  
    h1 {
      font-size: 32px; // Увеличен размер шрифта
      font-weight: bold; // Добавлен жирный шрифт
    }
  }
  