.SearchButton {
  display: flex;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  margin-right: 100px;
  height: 15px;
  align-self: center;
  background-color: white;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  order: 0;
  align-self: center;
}

.search-input {
  border: 0;
}

.search-input:focus {
  outline: none;
}
