$modal-footer-margin-top: 30px; 
$modal-footer-gap: 20px; 
$modal-footer-button-bg-color: #6c5ce7; 
$modal-footer-button-text-color: #ffffff; 
$modal-footer-button-padding: 10px 20px;
$modal-footer-button-border-radius: 4px; 
$modal-footer-button-hover-bg-color: #5a4ec7; 

.modal-footer {
  margin-top: $modal-footer-margin-top;
  display: flex;
  justify-content: space-around;
  gap: $modal-footer-gap;

  button {
    background-color: $modal-footer-button-bg-color;
    color: $modal-footer-button-text-color;
    padding: $modal-footer-button-padding;
    border-radius: $modal-footer-button-border-radius;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $modal-footer-button-hover-bg-color;
    }
  }
}
