@import "../abstracts/variables";

.about-me {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;

    &__slogan {
        text-align: center;
        color: $dark-primary-color;
        text-align: center;
        font-family: 'Gilroy', sans-serif;
        font-size: 30px;
        font-weight: 300;
        margin: 30px 20px 30px 20px;

        & b {
            font-family: 'Gilroy-Bold', sans-serif;
        }
    }

    &__links {
        font-size: 28px;
        text-align: end;
        padding: 30px 30px 40px 30px;
        text-transform: uppercase;
        background-color: $dark-primary-color;
        font-family: 'Gilroy', sans-serif;

        & img {
            width: 50px;
            height: 50px;
        }
    }

    @media (min-width: $bp-desktop) {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 62px;
        margin-top: 70px;

        &__slogan {
            padding-left: 70px;
            padding-right: 70px;
            text-align: start;
            width: 100%;
        }

        &__links {
            height: 188px;
        }
    }
}

.links {
    &__list-link {
        padding-top: 3 0px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}