@import "../abstracts/variables";

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
    padding-top: 30px;
    border-top: 1px solid $dark-primary-color;

    @media (min-width: $bp-desktop) {
        flex-direction: row;
        text-align: start;
        align-items: start;
        padding: 100px 70px 100px 70px;
        margin: 0;

        div {
            flex: 1;
        }

    }

    &__title {

        font-family: 'Gilroy-light', sans-serif;
        font-weight: 300;
        font-size: 60px;

        @media (min-width: $bp-tablet) {
            font-size: 100px;
        }
    }

    .contact-about {
        margin: 0 20px 0 20px;


        @media (min-width: $bp-tablet) {
            margin: 0 30px 0 30px;

            div {
                display: flex;
                justify-content: center;
            }
        }

        @media (min-width: $bp-desktop) {
            div {
                justify-content: start;
            }
        }


        &__title {
            margin-top: 30px;
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 40px;
            line-height: 50px;
            text-transform: uppercase;

            @media (min-width: $bp-tablet) {
                font-size: 40px;
                line-height: 50px;
            }

            @media (min-width: $bp-desktop) {
                margin: 0;
            }
        }

        &__description {
            margin-top: 30px;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 25px;
            line-height: 35px;

            @media (min-width: $bp-tablet) {
                font-size: 25px;
                line-height: 30px;
            }
        }
    }

}