@import "../abstracts/variables";

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    border-top: 1px solid $dark-primary-color;
    padding: 20px 0 20px 0;

    @media (min-width: $bp-tablet) {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 30px 30px 30px;
    }

    @media (min-width: $bp-desktop) {
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 70px 25px 70px;
    }

    &__socials {
        margin-top: 20px;

        @media (min-width: $bp-tablet) {
            margin: 0;
        }
    }

}