@import "../abstracts/variables";

.navigation {
    width: auto;
    padding: 0 30px 0 0;
    margin: 20px 20px 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;

    & a {
        display: flex;
    }

    &__logo {
        width: 91px;
        height: 35px;
        padding-left: 20px;
    }

    &__title {
        display: none;
        font-family: 'Gilroy-Medium', sans-serif;

        & b {
            font-family: 'Gilroy', sans-serif;
        }
    }

    &__menu {
        font-size: 25px;
        color: $dark-primary-color;
        font-family: 'Gilroy-Bold', sans-serif;
    }

    @media (min-width: $bp-tablet) {
        .navigation {
            margin: 40px 30px 30px 30px;

            &__title {
                display: flex;
                gap: 5px;
                margin: 0 0 0 10px;
                font-size: 35px;
                flex: 2;
                width: 241px;
                height: 43px;
                color: $dark-primary-color;

                &::after {
                    content: '\00AE';
                    font-size: 25px;
                }
            }

            &__menu {
                padding-right: 30px;
            }
        }
    }

    @media (min-width: $bp-desktop) {
        .navigation {
            margin: 40px 70px 30px 70px;

            &__menu {
                padding-right: 70px;
            }
        }
    }
}
