@import "../abstracts/variables";

.logos {
    display: grid;
    grid-gap: 15px;
    padding: 0 16px 0 16px;

    &__griditem {
        display: flex;
        border-radius: 50px;
        background-color: $white-color;
        padding: 15px;
        justify-content: center;
        align-items: center;
    }
    & img{
      width: 100%;
    }
    &__griditem:nth-child(1) {
        grid-column: 1 / 4;
        width: fit-content;
        justify-self: center;

    }

    &__griditem:nth-child(2) {
        grid-column: 1 / 4;
        width: fit-content;
        justify-self: center;
    }

    &__griditem:nth-child(3) {
        justify-self: center;
    }

    &__griditem:nth-child(4) {
        grid-column: 2 / 4;
        width: fit-content;
        justify-self: center;
    }

    &__griditem:nth-child(5) {
        grid-column: 1 / 3;
        width: fit-content;
        justify-self: center;
    }

    &__griditem:nth-child(6) {
        width: fit-content;
        justify-self: start;
    }

    &__griditem:nth-child(7) {
        grid-column: 1 / 4;
        width: fit-content;
        justify-self: center;
    }

    @media (min-width: $bp-tablet) {
        padding: 30px 40px 30px 40px;
        grid-template-columns: repeat(autofit, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 20px;

        &__griditem:nth-child(1) {
            grid-column: 1/4;
            width: fit-content;
            justify-self: end;

        }

        &__griditem:nth-child(2) {
            grid-column: 4/7;
            width: fit-content;
            justify-self: center;
        }

        &__griditem:nth-child(3) {
            grid-column: 7/9;
            width: fit-content;
            justify-self: start;
        }

        &__griditem:nth-child(4) {
            grid-column: 1/3;
            width: fit-content;
            justify-self: start;
        }

        &__griditem:nth-child(5) {
            grid-column: 3/5;
            width: fit-content;
            justify-self: center;
        }

        &__griditem:nth-child(6) {
            grid-column: 5/7;
            width: fit-content;
            justify-self: center;
        }

        &__griditem:nth-child(7) {
            grid-column: 7/9;
            width: fit-content;
            justify-self: end;
        }
    }
    @media (min-width: $bp-desktop){
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        border-top: 1px solid $dark-primary-color;
        margin-top: 70px;
        column-gap: 20px;
        padding: 50px;
        
        &__griditem:nth-child(1) {
            grid-column: 1/1;
            justify-content: center;
        }

        &__griditem:nth-child(2) {
            grid-column: 2/2;
            justify-self: center;
        }

        &__griditem:nth-child(3) {
            grid-column: 3/3;
            justify-self: start;
        }

        &__griditem:nth-child(4) {
            grid-column: 4/4;
            width: fit-content;
            justify-self: start;
        }

        &__griditem:nth-child(5) {
            grid-column: 5/5;
            justify-self: center;
        }

        &__griditem:nth-child(6) {
            grid-column: 6/6;
            justify-self: center;
        }

        &__griditem:nth-child(7) {
            grid-column: 7/7;
            justify-self: end;
        }
    }
}