// My Clients
@import "../abstracts/variables";

.my-clients{
    border-top: 1px solid $dark-primary-color;
    font-family: 'Gilroy', sans-serif;
    &__title{
        @media (min-width: $bp-desktop) {
            margin-bottom: 50px;
        }
        text-align: center;
        font-weight: 300;
        font-size: 80px;
        margin-top: 30px;
        margin-bottom: 30px;    
    }
    .second-row{
        .my-clients-content:last-child{
            border-bottom: none;
            margin-bottom:40px;
        }
    }
    .my-clients-content{
        margin: 0px 30px 0px 30px;
        padding-top: 40px;
        justify-self: center;
        padding-bottom: 40px;
        border-bottom: 1px solid $dark-primary-color;
        &__img{
            margin-bottom: 30px;
            @media (min-width: $bp-desktop) {
                height: 35px;
            }
        }
     
        .client{
            display: flex;
            &__img{
                border-radius: 50px;
                height: 70px;
                margin-right: 20px;
            }
            .client-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                &__name{
                    font-weight: 600;
                }
                &__position{
                    font-weight: 400;
                }  
            }  
        }
    }
    @media (min-width: $bp-desktop) {
        .first-row, .second-row {
            display: flex;
            flex-direction: row;
            margin: 0 70px 0 70px;
            
            .my-clients-content {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-around;
                margin: 0;
                border: none;
                padding: 30px 33px;
                border-right: 1px solid $dark-primary-color;
                width: 100%;
                &:last-of-type {
                    border-right: none; 
                    
                }
               
            }
        }
    
        .first-row {
            border-bottom: 1px solid $dark-primary-color;
        }
    
        .second-row {
            margin-bottom: 130px;
        }
    }
}