@import "../abstracts/variables";
@import "../components/buttons";
@import "../base/defaults"; 

.selected-work {
    width: auto;

    &__grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 15px 10px;
    }

    @media (min-width: $bp-tablet) {

        .item {
            &__caption {
                font-size: 35px;
            }
        }
        &:nth-child(3) {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
        }

        &__title {
            font-size: 120px;
            font-weight: 300;
            letter-spacing: 6px;
            padding: 0 50px;
        }

        &__grid {
            display: grid;
            grid-template-rows: repeat(6, minmax(0.5fr, 1fr));
            grid-template-columns: 1fr;
            gap: 20px;
            margin: 30px 20px;
        }
    }

    @media (min-width: $bp-desktop) {
        .grid__item {

            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(3) {
                height: 100%;
                order: 1;
                justify-self: flex-end;
            }

            &:nth-child(4) {
                order: 4;
            }

            &:nth-child(5) {
                order: 5;
            }

            &:nth-child(6) {
                order: 6;
                height: 100%;
                justify-self: flex-end;
            }
        }

        &__caption {
            color: $black-color;
            height: 43px;
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 35px;
            text-transform: uppercase;
            padding: 20px;
            margin-bottom: 30px;
        }

        .item__wrapper {
            flex-direction: column;
            height: 100%;

        }

        &__title {
            letter-spacing: 8.48px;
            margin: 70px 0 50px 0;
        }

        &__grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
            margin: 0 40px;
        }

        .item__button {
            height: 50%;

            &:nth-child(2) {
                display: flex;
                align-items: flex-end;
            }
        }
    }
}

.grid__item {
    width: 100%;

    &:nth-child(1) {
        background-image: url("../../img/trinity-work-1.jpg");
        aspect-ratio: 9 / 10;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 50%;
    }

    &:nth-child(2) {
        background-image: url("../../img/trinity-work-2.jpg");
        aspect-ratio: 9 / 10;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 50%;
    }

    &:nth-child(3) {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-bottom: 20px;
    }

    &:nth-child(4) {
        background-image: url("../../img/morpheus-work-1.jpg");
        aspect-ratio: 9 / 10;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 50%;
    }

    &:nth-child(5) {
        background-image: url("../../img/morpheus-work-2.jpg");
        aspect-ratio: 9 / 10;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 50%;
    }

    &:nth-child(6) {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-bottom: 20px;
    }
}

.item {
    &__caption {
        color: $black-color;
        height: 43px;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        padding: 20px;
        margin-bottom: 30px;
    }
}

.item__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
    justify-content: flex-start;
    width: 100%;
    & .item__button{
        height: 100%;
        margin-bottom: 70px;
    }
    & .button{
        justify-self: flex-end;
    }
}

.item__button {
    margin-left: 20px;

    &:nth-child(2) {
        align-self: flex-end;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: auto;
    }
}