.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;

    &__name {
        font-family: 'Gilroy-Bold', sans-serif;
        font-weight: 550;
        font-size: 57px;
        text-transform: uppercase;
    }

    &__profession {
        font-family: 'Gilroy-Light', sans-serif;
        font-weight: 100;
        font-size: 57px;
        text-transform: capitalize;
    }

    &__arrow-down {
        width: 24px;
        height: 40px;
        margin-top: 30px;
    }
}
