// What i do
.what-i-do__wrapper {
    @media (min-width: $bp-desktop) {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid $dark-primary-color;
        border-top: 1px solid $dark-primary-color;

    }
}

.what-i-do {
    text-align: left;
    h1 {
        text-align: center;
        font-family: 'Gilroy-light', sans-serif;
        line-height: 92px;
        font-weight: 300;
        font-size: 50px;
        margin-top: 20px;
    }

    ul {
        list-style: none;
        counter-reset: section-counter;
        margin: 0 35px 0 0;
        padding-left: 10px;

    }

    li {
        border-bottom: 1px solid $dark-primary-color;
        padding-bottom: 30px;
        counter-increment: section-counter;

        &:nth-child(4) {
            border-bottom: none;
        }

        h3 {
            padding-bottom: 10px;
            font-family: 'Gilroy-SemiBold', sans-serif;
            font-size: 30px;
            font-weight: 300;
            padding-top: 30px;
        }

        h3::before {
            content: counter(section-counter, decimal-leading-zero) " ";
            font-family: 'Gilroy-Light', sans-serif;
        }

        p {
            padding-top: 10px;
            font-family: 'Gilroy', sans-serif;
            font-weight: 400;
            font-size: 20px;
        }
    }

    &__picture {
        img {
            width: 100%;
            object-fit: cover;
            border-top: 1px solid $dark-primary-color;

        }
    }

    @media (min-width: $bp-desktop) {
        h1 {
            margin-top: 70px;
            font-size: 100px;
        }

        ul {
            margin-left: 50px;
            margin-right: 50px;
            padding: 0;

            li {
                h3 {
                    font-size: 30px;
                }

                p {
                    font-size: 20px;
                }
            }
        }

        &__picture {
            flex-shrink: 0.5;
            height: 1000px;
            width: 73%;

            img {
                border: none;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
