$button-border-radius: 8px;
$button-padding: 0.6em 1.2em;
$button-font-size: 1em;
$button-font-weight: 500;
$button-font-family: inherit;
$button-cursor: pointer;
$button-min-width: 192px;
$button-min-height: 48px;
$primary-color: #6b59d3;
$secondary-color: #ffffff; 
$secondary-border-color: #130634; 

button {
  border-radius: $button-border-radius;
  border: 1px solid;
  padding: $button-padding;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  font-family: $button-font-family;
  cursor: $button-cursor;
  margin-bottom: 30px;
  width: $button-min-width;
  height: $button-min-height;

  &.modal-close {
    height: 22px;
    width: 22px;
    font-size: 30px;
    background-color: none;
    cursor: pointer;
    font-size: 20px;
    border: none;

    &:hover {
      color: #ff0000;
    }
  }
}

.primaryButton {
  background-color: $primary-color;
  color: $secondary-color;
}

.secondaryButton {
  background-color: $secondary-color; 
  color: $primary-color;
  border: 1px solid $secondary-border-color;
}
