.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  gap: 50px;
  padding-right: 50px;

  a {
    &.none {
      height: 50px;
      width: 50%;
    }

    &.active {
      .cart,
      .favorite {
        background-color: #f4a2d4;

        svg {
          fill: white;
        }

        .favoriteCount,
        .cartCount {
          background-color: white;
          color: #130634; 
        }
      }
    }

    .cart,
    .favorite {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px; 
      background-color: #ffffff;
      border-radius: 8px;
      z-index: 1;
      padding: 0;
      margin: 0;

      svg {
        height: 60%;
        width: 60%;
        fill: #6b59d3;
      }

      .favoriteCount,
      .cartCount {
        position: absolute;
        top: -2px;
        right: -2px;
        background-color: #ff0000;
        color: #ffffff;
        font-size: 10px;
        border-radius: 50%;
        padding: 2px 5px;
        height: 10px;
        width: 5px;
      }
    }
  }
}
