$modal-color: #333333;
$modal-bg-color: #ffffff;
$modal-padding: 30px;
$modal-border-radius: 12px;
$modal-max-width: 800px;
$modal-max-height: 90vh;
$modal-min-width: 560px;
$modal-min-height: 400px;
$modal-image-height: 300px;

$primary-color: #6b59d3; // Фиолетовый цвет
$secondary-color: #ffffff; // Белый цвет
$secondary-border-color: #130634; // Темно-синий цвет


$modal-close-btn-size: 40px;
$modal-close-btn-color: #ffffff; // Белый цвет иконки
$modal-close-btn-hover-color: #ffffff; // Белый цвет иконки при наведении
$modal-close-btn-bg-color: #2c3e50; // Темно-синий цвет фона
$modal-close-btn-hover-bg-color: #34495e; // Более темный синий цвет фона при наведении

.modal {
  color: $modal-color;
  background-color: $modal-bg-color;
  padding: $modal-padding;
  border-radius: $modal-border-radius;
  max-width: $modal-max-width;
  max-height: $modal-max-height;
  min-width: $modal-min-width;
  min-height: $modal-min-height;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  .modal-image-container {
    padding: 0;
    margin: 0;
    width: 50%;
    height: auto;

    img {
      width: 100%;
      height: $modal-image-height;
      object-fit: cover;
      border-radius: $modal-border-radius - 2px;
    }
  }
  .secondaryButton{
    background-color: white;
    color: #6b59d3;
    border: 1px solid #6b59d3;
    &:hover{
      background-color:#f2f2f2;
    }
  }
}
