.card {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    height: 300px;
    border: 2px solid #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #2d1a52;
    position: relative;

    .imageContainer {
        position: relative;
        height: 100%;
        width: 35%;
        overflow: hidden;
        border-radius: 18px;
        background-color: white;
        margin-right: 20px;

        img {
            height: 100%;
            z-index: 1;
            object-fit: cover;
        }

        .cardIcon {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            fill: #000;
            z-index: 2;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 0.2s;
            }
        }
    }

    h2 {
        padding-bottom: 30px;
        align-self: flex-start;
    }

    .cardInfo {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        flex: 3;

        .cardDescriptionContainer {
            display: flex;
            align-items: flex-start;
            height: 100%;

            .cardDescription {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between;
            }

            p {
                padding-bottom: 15px;
                text-align: left;
                font-size: 20px;
            }
        }
    }

    .cardArticle {
        align-self: flex-end;
        height: 100%;
        padding-right: 10px;
    }

    .cardButtonContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        flex: 2;
        padding-right: 10px;

        .cardButton {
            align-self: flex-end;
        }
    }
}