body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  border-bottom: 3px solid #0d6efd;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.logout {
  margin-left: 10px;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  border: none;
}
.logout:hover {
  background-color: rgb(204, 108, 108);
  color: #fff;
  border-radius: 5px;
  border: none;
}
.mainContainer {
  font-family: Arial, sans-serif;
  background-color: #c5b8b8da;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  height: 100vh;
  width: 100%;
}
.closeBTN{
  display: none;
}
.createBTN{
  display: block;
}
.cardValue{
  display: flex;
  flex-direction: column;
}
.containerFilter {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  max-height: 100%;
}

.backGroundContainer {
  background-color: c5b8b8da;
  width: 100%;
  max-height: 80%;
  overflow-x: hidden; /* Горизонтальний скролл */
  overflow-y: auto; /* Приховуємо вертикальний скролл, оскільки кардКонтейнер утримується у відповідній висоті */
  direction: rtl; /* Налаштування напрямку тексту (справа наліво) */
  padding: 10px; /* Додаткові відступи для кращого вигляду */
}
.cardContainer{
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 10px;
  padding: 50px;
  width: 100%;
  direction: ltr;
}

.card {
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Тінь знизу та зправа */
}
.card-header{
  display: flex;
  justify-content: space-between;
}
.close-btn:hover{
  cursor: pointer;
  color:red;
  /*сделать таймер для плавности*/
}

.backGroundContainer::-webkit-scrollbar {
  width: 16px;
}

.backGroundContainer::-webkit-scrollbar-track {
  background-color: #a6a5a3b7;
  border-radius: 100px;
}

.backGroundContainer::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 100px;
}
h1 {
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 15px;
}

.params {
  display: block;
  color: #666666;
  width: 50px;
  margin-left: 5px;
}

/* Стилізація радіо кнопок і лейблів */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="radio"] {
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
  margin-left: 15px;
}

.form-group div {
  display: flex;
  /* використовуємо flexbox для горизонтального розташування */
  flex-direction: row;
  align-items: center;
  /* вирівнюємо елементи по вертикалі */
}

/*TEMPLATES MOMENTS------------------------------------------*/
h2 {
  color: white;
  text-align: center;
  margin-top: 155px;
}


