// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
/*.banner{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-image: url("../img/mobile.jpg");
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 50% left 10px;

    @media (min-width: 768px){
        background-image: url("../img/tablet.jpg");
    }
    @media (min-width: 1024px){
        background-image: url("../img/desctop.jpg");
    }
}*/
.img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}