// BREAKPOINTS
$bp-md: 768px;
$bp-lg: 1200px;

// COLORS
$background-primary: #000000;
$background-secondary: rgba(0, 0, 0, .3);
$text-color-primary: #4E4E4E;
$text-color-secondary: #5C5C5C;
$white-color: #FEFEFE;
$link-active: #57A4A4;

