.cardsContainer {
    width: 100%;
    height: auto;
    background-color: #1c0941;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    
    h1{
        margin-bottom: 20px;
    }
}