@import "../abstracts/variables";

.button {
    border: 1px solid $dark-primary-color;
    border-radius: 50px;
    padding: 10px 54px 10px 25px;
    background-color: $dark-primary-color;
    color: $white-color;
    font-size: 14px;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 24px;
        height: 33px;
        position: absolute;
        top: 50%;
        right: 27px;
        transform: translateY(-50%);
        background-image: url("../img/button_icon/button_icon.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}

.button-secondary {
    @extend .button;

    border: 1px solid $white-color;
    padding-right: 30px;
    background-color: $white-color;
    color: $dark-primary-color;
    margin-top: 50px;

    &::after {
        content: unset;
    }
}

.all-work {
    display: flex;
    justify-content: center;
    border: 1px solid $white-color;
    font-family: 'Gilroy-Medium', sans-serif;
    border-radius: 50px;
    padding: 15px 60px 15px 60px;
    background-color: $white-color;
    color: $dark-primary-color;
    font-size: 18px;
    width: auto;
    margin: 20px 20px;
}

.find-job-wrapper{
    display:flex;
    justify-content: flex-start;
    width:100%;
    place-items: center;
}
.find-job {
    @extend .all-work;
    @extend .button;
    border: 1px solid $dark-primary-color;
    padding: 15px 61px 15px 30px;
    background-color: $dark-primary-color;
    color: $white-color;
    width: 100%;

    &::after {
        top: 50%;
       right: calc(40% - 24px);
    }
}

@media (min-width: $bp-tablet) {
    .find-job-wrapper{
        display:flex;
        justify-content: flex-start;
        width:auto;
    }
    
    .all-work {
        margin: 70px auto 30px;
        width: 200px;
    }

    .find-job {
        &:after {
            right: 27px;
        }
    }
}

.contact{
    .contact-about{
        &__button{
            @extend .find-job;
            margin: 30px 0 0 0;
        }        
    }
}