
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(73,74,74);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
  }
  
  header logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  header button {
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    
  }
  
  header button:hover {
    background-color: #0d8cd9;
  }
  
  .card {
    background-color: #000;
    color: #fff;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    font-family: 'Arial', sans-serif;
  }
  
  .card h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .card button {
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    background-size: cover;
    height: 40px;
    width: 40px;
  }
  
  .card button:hover {
    background-color: #0a6f9e;
}

.card button img {
  width: 30px;
  height: 30px;
}

  #posts-container {
    display: none;
  }
  
  #preloader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(73,74,74);
    background: -moz-linear-gradient(45deg, rgba(73,74,74,1) 0%, rgba(47,47,47,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(73,74,74,1) 0%, rgba(47,47,47,1) 100%);
    background: linear-gradient(45deg, rgba(73,74,74,1) 0%, rgba(47,47,47,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494a4a",endColorstr="#2f2f2f",GradientType=1);
    overflow: hidden;
}
.preloader__wrapp{
    position: relative;
    width: 400px;
    height: 400px;
}
 
.preloader__one,
.preloader__two{
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.preloader__one{
    animation: spin1 2.3s infinite linear;
    -webkit-animation: spin1 2.3s infinite linear;
}
.preloader__two{
    display: block;
    animation: spin2 2.3s infinite linear;
    -webkit-animation: spin2 2.3s infinite linear;
    transform: rotate(45deg);
}
 
.one,
.five{
    border-top: 3px solid #80bd01;
}
.two,
.sixt{
    border-right: 3px solid #80bd01;
}
.three,
.seven{
    border-bottom: 3px solid #80bd01;
}
.four,
.eight{
    border-left: 3px solid #80bd01;
}
 
.one{
    top: -200px;
}
.two{
    right: -200px;
}
.three{
    bottom: -200px;
}
.four{
    left: -200px;
}
 
.five{
    right: -141px;
    bottom: 141px;
}
.sixt{
    left: 141px;
    top: 141px;
}
.seven{
    left: -141px;
    top: 141px;
}
.eight{
    right: 141px;
    top: -141px;
}
 
@keyframes spin1 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 
    20%{opacity: 0.5;}
    50%{opacity: 0.2;}
    100%{opacity: 1;}
    50%{opacity: 0.2;}
    20%{opacity: 0.5;}
}
@keyframes spin2 {
    from {transform: rotate(45deg);}
    to {transform: rotate(405deg);}
 
    20%{opacity: 0.5;}
    50%{opacity: 0.2;}
    100%{opacity: 1;}
    50%{opacity: 0.2;}
    20%{opacity: 0.5;}
}