

.favorite-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.favorite-item {
  position: relative;
  border: 2px solid #130634;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 300px;
}

.product-image-container {
  width: 100%;
}

.product-image {
  width: 100%;
  object-fit: scale-down;
}

.product-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.product-name {
  font-weight: bold;
}

.product-storage {
  font-size: 14px;
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  fill: #000;
  z-index: 2;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.emptyBlock{
  grid-column: 1/5;
  & .empty{
    margin-top: 50px;
  }
}