@import "../abstracts/variables";

//вынес отельно тайтл, называть класс как в ХТМЛ
.title-section {
    color: $dark-primary-color;
    text-align: center;
    font-family: 'Gilroy-Light', sans-serif;
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin: 30px auto;
    max-width: 100%;
}
.my-clients-content{
    &__topic{
        font-weight: 800;
        font-size: 40px;
        margin-bottom: 30px;
        line-height: 44px;
    }
    &__description{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 30px;
        line-height: 30px;
    }
   
}
@media (min-width: $bp-tablet) {
    .title-section {
        font-size: 100px;
        letter-spacing: 6px;
    }
}

@media (min-width: $bp-desktop) {
    .title-section {
        font-size: 120px;
        letter-spacing: 8.48px;
    }

}
@media (max-width: 397px){
    .title-section {
        font-size: 50px;
    }
    .my-clients-content{
        &__topic{
            font-size: 20px;
            line-height: 22px;
        }
        &__description{
            font-size: 10px;
            line-height: 15px;
        }
    }
}