$button-border-radius: 8px;
$button-padding: 0.6em 1.2em;
$button-font-size: 1em;
$button-font-weight: 500;
$button-font-family: inherit;
$button-cursor: pointer;
$button-min-width: 192px;
$button-min-height: 48px;

button {
  border-radius: $button-border-radius;
  border: 1px solid;
  padding: $button-padding;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  font-family: $button-font-family;
  cursor: $button-cursor;
  background-color: transparent;
  margin-bottom: 30px;
  width: $button-min-width;
  height: $button-min-height;

  &.modal-close {
    height: 22px;
    width: 22px;
    font-size: 30px;
    background-color: none;
    cursor: pointer;
    font-size: 20px;
    border: none;

    &:hover {
      color: red;
    }
  }
}

.primaryButton {
  background-color: rgba(138, 51, 253, 1);
  color: white;
}

.secondaryButton {
  background-color: white;
  color: rgba(138, 51, 253, 1);
  border: 1px solid black;
}
