.favorite-grid {
  display: grid;
  padding: 30px; // Увеличен отступ
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; // Увеличен интервал между элементами
}

.favorite-item {
  position: relative;
  border: 2px solid #130634;
  border-radius: 15px; // Увеличен радиус скругления
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px; // Увеличена высота
  width: 100%; // Занимает всю ширину ячейки
  background-color: #f2f2f2; // Добавлен фоновый цвет
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Добавлена тень
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Анимация при наведении

  &:hover {
    transform: translateY(-5px); // Смещение вверх при наведении
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); // Более выразительная тень при наведении
  }
}

.product-image-container {
  width: 100%;
  height: 70%; // Увеличена высота контейнера с изображением
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; // Сохраняет пропорции изображения
}

.product-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px; // Увеличен отступ внутри блока с деталями
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.product-name {
  font-weight: bold;
  font-size: 18px; // Увеличен размер шрифта
}

.product-storage {
  font-size: 16px; // Увеличен размер шрифта
}

.favorite-btn {
  position: absolute;
  top: 15px; // Увеличен отступ сверху
  right: 15px; // Увеличен отступ справа
  width: 35px; // Увеличен размер кнопки
  height: 35px;
  fill: #000;
  z-index: 2;
  cursor: pointer; // Добавлен курсор при наведении
  transition: transform 0.2s ease; // Анимация при наведении

  &:hover {
    transform: scale(1.1); // Увеличение размера при наведении
  }
}

.emptyBlock {
  & h2 {
    margin-top: 80px; // Увеличен отступ сверху
    padding: 30px; // Увеличен отступ внутри
    font-size: 32px; // Увеличен размер шрифта
  }
}
