$modal-close-btn-size: 32px;
$modal-close-btn-color: #666666; 
$modal-close-btn-hover-color: #333333; 
$modal-close-btn-bg-color: transparent; 
$modal-close-btn-hover-bg-color: #f2f2f2; 

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: $modal-close-btn-size;
  height: $modal-close-btn-size;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $modal-close-btn-color;
  background-color: $modal-close-btn-bg-color;
  border: none;
  border-radius: 50%; 
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 50px;

  &:hover {
    color: $modal-close-btn-hover-color;
    background-color: $modal-close-btn-hover-bg-color;
  }
}
