.NavMenu {
  display: flex;
  padding: 0;
  margin: 0 auto;
  height: 50%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navLink {
  text-decoration: none;
  list-style: none;
  transition: color 0.3s ease;

  li {
    text-align: center;
    cursor: pointer;
    padding: 0px 15px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 25px;
    margin-right: 15px;
    color: white;

    & p {
      font-size: 20px;
      color: inherit;
    }

    &:hover {
      border: 1px solid transparent;
      border-radius: 5px;
      transition: all 0.3s ease;
      background-color: white;

      p {
        color: #130634;
      }
    }
  }

  &.active { 
    li {
      p {
        color: #F4A2D4;
        &:hover{
          color: #130634;
        }
      }
    }
  }
}
