.NavMenu {
    display: flex;
    list-style-type: none;
    padding: 0;
    color:white;
    
  }
  
  .NavMenu li {
    text-align: center;
    cursor: pointer;
    padding: 0px 15px 0px 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 25px;
    margin-right: 15px;

    p{
      width:100%;
      text-align: center;
      font-size: 20px;
    }
  }
  
  .NavMenu li:hover {
    background-color: #f0f0f0;
    color: #130634;
  }
  
  .NavMenu li.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .NavMenu li.active[data-tab="home"] {
    background-color: #007bff;
    color: #fff;
  }
  
  .NavMenu li.active[data-tab="shop"] {
    background-color: #007bff;
    color: #fff;
  }
  