// ButtonContainer.scss

.ButtonContainer {
  display: flex;

  .Cart,
  .Favorite {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: white;
    z-index: 1;
    padding: 0;

    & svg {
      height: 50%;
      width: 50%; 
    }

    & .favoriteCount {
      position: absolute;
      top: -2px;
      right: -2px;
      background-color: red;
      color: white;
      font-size: 10px;
      border-radius: 50%;
      padding: 2px 5px;
      height: 10px;
      width: 5px;
    }
    & .cartCount{
      position: absolute;
      top: -2px;
      right: -2px;
      background-color: red;
      color: white;
      font-size: 10px;
      border-radius: 50%;
      padding: 2px 5px;
      height: 10px;
      width: 5px;
    }
  }
}
