.cart-page {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-items {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 60%;
}

.cart-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  overflow: hidden;
  height: 450px;
  width: 100%;
  position: relative;
  border: 2px solid #130634;
}

.item-image-container {
  width: 40%;
  height: auto;
  overflow: hidden;
  margin-right: 20px;
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-details {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;

  & p {
    font-size: 20px;
  }
}

.product-name {
  min-height: 80px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
}

.product-storage {
  min-height: 80px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.product-price {
  min-height: 80px;
  font-size: 14px;
  margin-bottom: 10px;
  align-self: flex-start;
  justify-self: flex-start;
  padding-left: 30px;
}

.item-counters {
  min-height: 110px;
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.counter-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50px;
}

.counter {

  font-size: 30px;
}

.remove-button {
  position: absolute;
  width: 50px;
  top: 0;
  right: 0;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.total-price-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #130634;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-right: 20px;
  width: 30%;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 20px;
  z-index: 1;
  height: 450px;
  overflow-y: auto;
  & span{
    height: 30%;
  }
}

.total-price-block > span {
  font-size: 24px;
  margin-bottom: 10px;
}

.total-price-block .total-value {
  border: 5px solid #f4a2d4;
  border-radius: 30px;
  padding: 5px;
}

.buy-now-button {
  background-color: #d86ebd;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f4a2d4;
    color: #130634;
  }
}

.emptyCart{
  & h2{
    margin-top: 50px;
    padding: 20px;
  }
}