#root {
  width:  100%;
  margin: 0 auto;
  text-align: center;
}
*{
  margin:0;
  padding:0;
}
.app{
  width: 100%;
}
body{
  overflow-x: hidden;
}
.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
button{
  margin:20px;
}
button:hover{
  transform: scale(1.1);
  transition: 0.2s;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}