.filmContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Змінено тут */
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    max-width: 1500px; /* Додано максимальну ширину */
    margin: 0 auto; /* Центруємо контейнер */
}

.filmCard {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 500px; /* Змінено на max-height */
    overflow: auto; /* Додано прокрутку */
}

.filmCard h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.filmCard ul {
    max-height: 200px; /* Змінено на max-height */
    overflow-y: auto;
    margin-top: 10px;
    padding-left: 20px;
}

.filmCard li {
    font-size: 16px;
    margin-bottom: 5px;
}
/*===========================*/
.filmCard .film-description-container {
    font-size: 18px;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    max-height: 1.2em; /* встановлюємо максимальну висоту */
}

.filmCard .film-description-container.expanded {
    white-space: normal;
    overflow: visible;
    max-height: none; /* збільшуємо максимальну висоту для розгорнутого тексту */
}


.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid #ccc;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }