$modal-body-max-width: 100%;
$modal-body-max-height: 100%;
$modal-body-margin-bottom: 20px; 

.modal-body {
  max-width: $modal-body-max-width;
  max-height: $modal-body-max-height;
  margin-bottom: $modal-body-margin-bottom; 
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-right: 15px; 

  &::-webkit-scrollbar {
    width: 8px; 
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 4px; 
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
}
